Werkzeug==3.0.1

# This version of Pillow may cause problems with JPEG-compressed TIFFs.
# See https://github.com/loris-imageserver/loris/issues/405
pillow==10.2.0

configobj==5.0.8
requests==2.31.0
netaddr==1.2.1
PyJWT==2.8.0
cryptography==42.0.5
attrs==23.2.0
pip-tools==7.4.0
